[Desktop Entry]
Type=Application
Terminal=false
Name=OWASP ZAP
GenericName=The OWASP Zed Attack Proxy
Comment=Automatically find security vulnerabilities in your web applications while you are developing and testing.
Exec=/usr/share/zaproxy/zap.sh
Icon=zaproxy
StartupNotify=true
Categories=System;Security;
